html {
  background-image: linear-gradient(to top right, #ffd6a9, #ffc8a8, #ffbaad, #ffaeb6, #f6a5c3);
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.a-clock-box,
.a-clock-in-box {
  border-radius: 100%;
}
.a-clock-box {
  padding: 1em;
  background: transparent;
  margin: 15vh auto;
  width: 300px;
  height: 300px;
  border:  rgba(255, 255, 255,0.35) solid 1em;
  background-color: rgba(255, 255, 255,0.15);
}
.a-clock-in-box {
  display: flex;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
  justify-content: center;
  height: 100%; 
  background: rgba(255, 255, 255,0.65);
}

.hour,
.minute,
.second {
  position: absolute;
  transform-origin: bottom;
  transition: 1s linear;
}
.hour {
  height: 110px;
  width: 0.75em;
  margin-top: 40px;
  background-color: #ffd1cd;
}
.minute {
  height: 130px;
  margin-top: 20px;
  width: 0.5em;
  background-color: #ffc0c0;
}
.second {
  height: 135px;
  width: 0.25em;
  margin-top: 15px;
  background-color: #ffaeb6;
}
.middle {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #ffaeb6;
  margin-top: 135px;
  z-index: 500;
}

